.chart {
	padding: 1rem;
	border-radius: 12px;
	background-color: #f8dfff;
	text-align: center;
	display: flex;
	justify-content: space-around;
	height: 10rem;
}

.max-expense {
	display: flex;
	height: 50px;
	margin-top: 10px;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: #f8dfff;
	border-radius: 12px;
}
