.form-edit-expense {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 25px;
	align-items: center;

	div {
		display: flex;
		justify-content: space-between;
		width: 50%;
		align-items: center;
		margin-bottom: 20px;

		input {
			height: 28px;
			width: 200px;
		}
	}

	button {
		width: 30%;
	}
}
